/Projects/*

!/Projects/
!/Projects/7-1_FinalProjectMilestones/
!/Projects/7-1_FinalProjectMilestones/**

.vs/
*.suo
*.user
*.VC.db
*.opendb
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
ARM*/
*.obj
*.pdb
*.idb
*.ilk
*.pch
*.ipch
*.tlog
*.log
*.cache
Thumbs.db
.DS_Store

/Libraries/glm/doc/
/Libraries/GLEW/doc/
